.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border-top: 1px solid var(--border-white);
    background-color: var(--bg-white);
}

.footer span {
    font-size: 14px;
    color: var(--font-medium-emphasis);
}
