<nav class="navbar">
    <a routerLink="/" class="logo">Shelf<span class="logo-accent">Guard</span></a>

    @if (userService.user()) {
        <div class="nav-links">
            <a routerLink="/dashboard" routerLinkActive="active">Табло</a>
            <a routerLink="/products" routerLinkActive="active">Продукти</a>
            <a routerLink="/suppliers" routerLinkActive="active">Доставчици</a>
            <a routerLink="/batches" routerLinkActive="active">Партиди</a>
            <a routerLink="/pick" routerLinkActive="active">Пикиране</a>
            <a routerLink="/movements" routerLinkActive="active">Движения</a>

            @if (userService.user()!.role === Role.OWNER || userService.user()!.role === Role.MANAGER) {
                <a routerLink="/write-off" routerLinkActive="active">Бракуване</a>

                <a routerLink="/analytics" routerLinkActive="active">Анализи</a>
            }

            @if (userService.user()!.role === Role.OWNER) {
                <a routerLink="/users" routerLinkActive="active">Потребители</a>
            }
        </div>

        <button class="btn btn-secondary small-btn" (click)="logout()">Изход</button>
    } @else {
        <a routerLink="/login" class="btn btn-primary small-btn">Вход</a>
    }
</nav>
